*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
}
.aside {
  width:250px;
  display:flex ;
  flex-direction: column;
  align-items: center;
  gap: 1rem; 
  margin: 32px;
  padding: 16px; 
  background-color: #17191b;
  border-radius: 15px;
}
.intro {
  font-size: 14px;
  padding: 4px 0;
  color: #fff;
}

.name h1{
  font-size: 20px;
  font-weight: 500;
  padding: 8px 0;
  color: #fff;

}

.title {
  color: #4d5bce;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.hello{
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

img {
  border-radius: 50%;
  height: 150px;
}

.info-container {
  padding: 5px 0;
  color: #fff;

}

.info {
  padding: 10px 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

.socials a {
  text-decoration: none;
  color: #273e53;
  margin-right: 10px;
}
.navbar {
  border-radius: 15px 15px 0 0;
  border: 1px solid #1e2d3d;
  height: 45px;
  margin: 32px auto 0;
  background-color: #011627;
  color: #fff;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 950px;
}

.navbar li {
  height: 45px;
  line-height: 45px;
  font-weight: 500;
  padding: 0 32px;
  border-right: 1px solid #1e2d3d;
  height: 44px;
  cursor: pointer;
}
ul .home-name{
  padding-right: 100px;
  font-weight: 400;
}

ul .contact {
  border: none;
}
/* about css */

.about {
  width: 950px;
  padding: 32px 16px;
  border: 1px solid black;
}

.code-icon {
  width: auto;
  position: relative;
  top: 10px;
  left: 280px;

}
/* skill css */
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  gap: 3rem;
}

.skillCard-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.skill-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}

.skill-heading {
  color: #12f7d6 ;
  font-size: 32px;
  text-decoration: underline;
}

/* skill-card css*/
.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #98faec;
  color: #43454d;
  padding: 16px;
  border-radius: 5px;
  border-left: 4px solid #0c73b8;
  width: 250px;
}

.skill-card p{
  font-size: 13px;
}

