

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main{
  overflow-y: hidden;
  background-image: linear-gradient(135deg, #011221, #98faec);

}

.container{
  display: flex;
  justify-content: space-between;
}

.aside {
  position: fixed;
  z-index: 10;
  width: 250px;
  height: 480px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 32px;
  padding: 16px;
  background-color: #17191b;
  border-radius: 15px;
  animation: slideInRight 1s ease forwards; /* Add animation */
}



@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.intro, .name h1, .title, .hello, .info, .socials {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.intro {
  font-size: 14px;
  padding: 4px 0;
  color: #fff;
}

.name h1{
  font-size: 20px;
  font-weight: 500;
  padding: 8px 0;
  color: #fff;

}

.title p {
  color: #4d5bce;
  font-weight: 600;
  display: flex;
  align-items: center;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #4d5bce; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #4d5bce; }
}

.hello {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  position: relative;
}

.hello::after {
  content: '_';
  display: inline-block;
  animation: blink 1s infinite alternate;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}




.aside img {
  border-radius: 50%;
  height: 150px;
  margin: 2px auto;
  border: 3px solid #12f7d6;
  
}

.info-container {
  padding: 5px 0;
  color: #fff;

}

.info {
  padding: 10px 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

.socials a {
  text-decoration: none;
  color: #273e53;
  margin-right: 10px;
}
.socials a:hover{
  color: #4f46e5;
  
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
}
.navbar {
  border-radius: 15px 15px 0 0;
  border: 1px solid #1e2d3d;
  height: 45px;
  margin: 32px auto 0;
  background-color: #011627;
  color: #fff;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 950px;
}

.navbar li {
  height: 45px;
  line-height: 45px;
  font-weight: 500;
  padding: 0 32px;
  border-right: 1px solid #1e2d3d;
  height: 44px;
  cursor: pointer;
}
ul .home-name{
  padding-right: 100px;
  font-weight: 400;
}
.navbar span{
  font-size: 12px;
}
.checkbox{
  height: 20px;
  width: 40px;
  appearance: none;
  border-radius: 160px;
  box-shadow: inset 0 8px 60px rgba(0,0,0,0.1),
              inset 0 8px 8px rgba(0,0,0,0.1),
              inset 0 -4px 4px rgba(0,0,0,0.1);
  position: relative;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: -7px;
}

.checkbox::before{
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  border-radius: 160px;
  transform: scale(0.9);
  transition: 0.5s;
  background: linear-gradient(to bottom,#eaeaea,#f9f9f9);            
  box-shadow: 0 8px 20px rgba(0,0,0,0.1),
              inset 4px 4px rgba(255,255,255,1),
              inset -4px 4px rgba(255,255,255,1);
}

.checkbox:checked{
  box-shadow: inset 0 2px 60px rgba(0,0,0,0.1),
              inset 0 2px 8px rgba(255,255,255,11),
              inset 0 -4px 4px rgba(255,255,255,1);

}

.checkbox:checked::before{
  left: 20px;
  box-shadow: 0 8px 40px rgba(0,0,0,0.5),
  inset 4px 4px rgba(255,255,255,0.2),
  inset -4px 4px rgba(255,255,255,0.2);
  background: linear-gradient(to bottom,#444,#222);
}

.checkbox::after{
  content: "";
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 60px;
  left: 60px;
  z-index: -1;
  transform: translate(-50%,-50%);
  transition: 0.5s; 
}
ul .contact {
  border: none;
}
/* about css */
.about-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 32px 16px 64px 16px;
  background-color: #282f37;
  color: #FFFFFF;
  margin-bottom:16px;
  border-radius: 10px;
  animation: slideInUp 1s ease forwards;
}

.about {
  width: 950px;
  padding: 32px 16px;
}

.about-container p{
  font-size: 18px;
}

.helloWorld {
  color: #4d5bce;
  font-weight: 600;
  font-size: 48px;
}

.name {
  font-weight: 600;
  font-size: 48px;
  color: #12f7d6; 
}

.code-icon {
  width: auto;
  position: relative;
  top: 10px;
  left: 280px;
}

/* skill css */

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  gap: 3rem;
  padding: 32px 0;
  background-color: #282d33;
  border-radius: 10px;
  animation: slideInUp 1s ease forwards;
}

.skillCard-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.skill-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}

.skill-heading {
  color: #12f7d6 ;
  font-size: 32px;
  text-decoration: underline;
}

/* skill-card css*/
.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #98faec;
  color: #43454d;
  padding: 16px;
  border-radius: 5px;
  border-left: 4px solid #0c73b8;
  width: 250px;
  animation: fadeIn 1s ease forwards;
}

.skill-card p{
  font-size: 13px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* project css */

.filter {
  width: 950px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  gap: 3rem;
} 

/* button-css */
.project-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  animation: fadeIn 1s ease forwards;
}

.project-container h2 {
  color: #011627;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  animation: slideInUp 1s ease forwards;
}

.project-card {
  background-color: #011221;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  height: 270px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  height: auto;
}

.img-container {
  text-align: center;
}

.img-container img {
  max-width: 100%;
  border-radius: 8px;
}

.project-card p {
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-card:hover p {
  opacity: 1;
}

.project-card button, .filter-btn {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-card button:hover, .filter-btn:hover {
  background-color: #0056b3;
}

.project-card:hover button, .filter-btn:hover {
  opacity: 1;
}

.filter-btn {
  color: #fff;
  background-color: #12f7d6;
  width: 100px;
  padding: 4px;
  border-radius: 5px;
  animation: slideInRight 1s ease forwards;
}

.filter-btn:hover {
  background-color: #007bff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


/* contact-css */

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
  animation: fadeIn 1s ease forwards;
}

.contact h2 {
  margin-bottom: 20px;
  animation: slideInLeft 1s ease forwards;
}

.email {
  text-align: center;
  width: 300px;
  animation: slideInRight 1s ease forwards;
}

.social-contacts {
  margin-top: 50px;
  animation: slideInUp 1s ease forwards;
}

.social-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-links li {
  margin: 0 10px;
  cursor: pointer;
  animation: fadeIn 1s ease forwards;
}

.social-links li svg {
  color: #333;
  transition: color 0.3s ease;
}

.social-links li svg:hover {
  color: #007bff;
}

.id {
  background-color: #12f7d6;
  color: #FFFFFF;
  padding: 4px  8px;
  font-size: 14px;
  border-radius: 5px;
  animation: fadeIn 1s ease forwards;
}

.id:hover {
  background-color: #007bff;
}

.contact h1 {
  font-size: 32px;
  color: #fff;
  animation: slideInLeft 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* 404 not found */

.page_404{ 
  background:#fff; 
  font-family: 'Arvo', serif;
  padding:20px 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page_404  img{ 
  width:100%;
}

.four_zero_four_bg{

background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 350px;
  background-position: center;
}


.four_zero_four_bg h1{
font-size:80px;
}

.four_zero_four_bg h3{
font-size:80px;
}
     
.error-btn{			 
color: #fff!important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}

.page_404 .text-center{
  text-align: center!important;
  margin: auto;
}

.error-btn{
  text-decoration: none;
}

/* footer css */

.footer {
  width: 100%;
  background-color:#4d5bce;
  color: #fff;
  height: 48px;
  border-radius: 10px;
  margin-top: 5rem;
}

.footer span{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  height: 48px;
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}

.footer {
  position: relative;
}

.footer .footer-icons {
  animation: heartbeat 1.5s infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* blog css */
.blog-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 30px auto;
  width: 900px;
  padding: 32px 0;
  background-color: #282d33;
  color:#fff;
  border-radius: 10px;
  animation: slideInUp 1s ease forwards;
}
.blog-header{
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #12f7d6;
}
.blogs {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}
.blog-heading{
  font-size: 24px;
  font-weight: 700;
}

.blogs {
  width: 800px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  background-color:#011221;
  color: #fff;
  transition: transform 0.3s ease;
}

.blogs:hover {
  transform: translateY(-5px);
}

.blog-container {
  display: flex;
  align-items: center;
}

.blog-left {
  flex: 1;
  padding: 20px;
}

.blog-right {
  width: 200px;

}

.blog-image {
  max-width: 150px;
  height: auto;
}

.blog-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.blog-tagname {
  margin-right: 10px;
  font-size: 14px;
  padding: 5px;
  background-color:#12f7d6;
  border-radius: 10px;
}
.blog-read{
  margin-right: 30px;
}
.blog-read span {
  color:#666;
  font-size: 14px;
}

.blog-btn button:hover {
  background-color: #0056b3;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0; 
  transition: opacity 0.3s ease;
}
.text {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.blogs:hover .overlay {
  opacity: 0.8; 
}
.blogs:hover .text {
  opacity: 1;
  text-decoration: underline; 
}

/* PDFPreview css */

.pdf {
  display: flex;
  width: 900px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
  padding: 32px 0;
  background-color: #282d33;
  color:#fff;
  border-radius: 10px;
  animation: slideInUp 1s ease forwards;
}

.pdf-preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  animation: fadeInUp 1s ease forwards; /* Add animation */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.pdf-preview-container h2 {
  font-size: 24px;
}

.pdf-preview-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
}

.pdf-preview-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.previewer {
  height: 800px;
  width: 600px;
  overflow: hidden;
  margin: 1rem 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  animation: zoomIn 1s ease forwards; /* Add animation */
}

@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* more css */

.more {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-container {
  display: none;
}
.mobileScreen {
  display: none;
}


/* -------------------------- media querry css----------------------------- */

@media screen and (max-width: 450px) {
  .aside{
    display: none;
  }
  .desktop-container {
    display: none;
  }
  .mobile-container {
    display: block;
  }
  .mobileScreen {
    display: block;
  }
}